<footer class="site-footer h-card">
  <div class="wrapper">
    <!-- Footer Columns Container -->
    <div class="footer-col-wrapper">
      
      <!-- Offerings Column -->
      <!-- <div class="footer-col">
        <h3 class="footer-col-heading">OFFERINGS</h3>
        <ul class="footer-col-list">
          <li><a href="{{ '/tenant-selection' | relative_url }}">Tenant Selection</a></li>
        </ul>
      </div> -->

      <!-- Capabilities Column -->
      <!-- <div class="footer-col">
        <h3 class="footer-col-heading">CAPABILITIES</h3>
        <ul class="footer-col-list">
          <li><a href="{{ '/ai-ml' | relative_url }}">AI + ML</a></li>
        </ul>
      </div> -->


      <!-- Impact Studies Column -->
      <div class="footer-col">
        <h3 class="footer-col-heading">IMPACT STUDIES</h3>
        <ul class="footer-col-list">
          <li><a href="{{ '/regency' | relative_url }}">Regency</a></li>
        </ul>
      </div>
      <!-- Documents Column -->
      <div class="footer-col">
        <h3 class="footer-col-heading">DOCUMENTS</h3>
        <ul class="footer-col-list">
          <li><a href="{{ '/docs/faqs' | relative_url }}">FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
